@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gird {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width {
    width: 100%;
}

.gird__half {
    width: 50%;
}

.gird__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
